<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Texas-AM-Http-WebService-Url" value="https://geoservices.tamu.edu/Services/Geocode/WebService/GeocoderWebServiceHttpNonParsedAdvanced_V04_01.aspx?"/>
    <add key="Texas-AM-DotNet-WebService-Url" value="https://geoservices.tamu.edu/Services/Geocode/WebService/GeocoderService_V04_01.asmx"/>
    <add key ="Texas-AM-ApiKey" value="YOUR_API_KEY"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>